/*-----------------Variables & imports------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
 //font-family: 'Rubik', sans-serif; 400 700 900
$main-col: #172636;
$colour-two: #5ecfd3;
$main-text-col: #edf1f8;
$font-one: 'Rubik', sans-serif;

/*---------------Main & reuseable styles----------*/
.d-f-row {
  display: flex;
}
.d-f-col {
  display: flex;
  flex-direction: column;
}
.main-section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $main-col;
}


/*---------------header styles----------*/
.header{
  color: $main-text-col;
  justify-content: space-around;
}
.head-title {
  margin: 1rem auto 1rem auto;
  font-size: 2rem;
  font-family: $font-one;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.pal-span {
  color: #5ecfd3;
  font-weight: 900;
}
.search-icon {
  color: $colour-two;
  width:2rem;
  height: 2rem;
  margin: auto 0 auto 1rem;
}
.underline{
  min-height: 2px;
  min-width: 100%;
  background-color: $colour-two;
  box-shadow: 0px 1px 2px 1px #bfdcfd3f;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 2px white solid;
  margin: auto 1rem auto;
}
.menu-button-burger {
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  
}
.menu-button-burger::before,
.menu-button-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  
}
.menu-button-burger::before {
  transform: translateY(-16px);
}
.menu-button-burger::after {
  transform: translateY(16px);
}