/*-----------------Variables & imports------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
 //font-family: 'Rubik', sans-serif; 400 700 900
$main-col: #172636;
$colour-two: #5ecfd3;
$main-text-col: #edf1f8;
$font-one: 'Rubik', sans-serif;

/*---------------Main & reuseable styles----------*/
.d-f-row {
  display: flex;
}
.d-f-col {
  display: flex;
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.main-section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $main-col;
}


/*---------------header styles----------*/
.header{
  z-index: 1;
  padding: 0 0.25rem;
  color: $main-text-col;
  justify-content: space-around;
}
.head-title {
  margin: 1rem auto 1rem auto;
  font-size: 2rem;
  font-family: $font-one;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.pal-span {
  color: #5ecfd3;
  font-weight: 900;
}
.search-icon {
  color: $colour-two;
  width:2rem;
  height: 2rem;
  margin: auto 0 auto ;
}
.underline{
  min-height: 2px;
  min-width: 100%;
  background-color: $colour-two;
  box-shadow: 0px 1px 2px 1px #bfdcfd3f;
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: auto;
  margin-bottom: auto;
}
.menu-button-burger {
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  
}
.menu-button-burger::before,
.menu-button-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  
}
.menu-button-burger::before {
  transform: translateY(-16px);
}
.menu-button-burger::after {
  transform: translateY(16px);
}

.menu-button-open{
  background: transparent;
  width: 40px;
  height: 6px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.menu-button-open::before {
  transform: rotate(-45deg) translate(1px, 1px);
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.menu-button-open::after {
  transform: rotate(45deg) translate(1px, -1px);
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background : $colour-two;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

/*-----------------Pop Out Menu------------------------*/
.pop-out-menu-closed {
  position: absolute;
  transform: translateX(-2000px);
  margin-left: 50px;
  background: $main-text-col;
  margin-left: auto;
  width: 100%;
  opacity: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.pop-out-menu-open {
  position: absolute;
  margin-left: 50px;
  background: $main-text-col;
  margin-left: auto;
  width: 100%;
  opacity: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.pop-out-item {
  font-family: $font-one;
  color: $main-col;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin: 25px auto;
  border-bottom: solid 2px $colour-two;
  opacity: 95%;
}
.pop-out-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 100%;
}

/*----------------Discover Movie Page --------------------*/
.loading {
  margin: auto;
  margin-top: 20px;
  color: $main-text-col;
  font-family: $font-one;
  font-size: 3rem;
}
.loadMore {
  max-width: 220px;
  padding:10px;
  background: $colour-two;
  color: $main-col;
  font-family: $font-one;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  opacity: 95%;
  font-weight: 600;
  margin: 10px auto;
}
.loadMore:hover {
  opacity: 100%;
  cursor: pointer;
}
/*---------------------------Genre Selector------------*/
.genre-selector{
  background-color: $main-col;
  color: $main-text-col;
  font-family: $font-one;
  border: none;
  margin: 0.5rem  0 0.5rem 0.5rem;
}
.genre-item {
  padding-top: 10px;
}




/*----------------------------Page Layout--------------------*/
.movie-list {
  margin: 30px 20px 10px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.movie-item{
  font-family: $font-one;
  color: $main-text-col;
  background-color: #2b6f70;
  width:150px;
  margin: 10px;
}
.movie-item img {
  max-height: 180px;
}
.movie-details h2{
 padding: 2px;
}
.movie-details {
  padding: 5px;
}
.rating-div {
  margin: auto;
}
.rating {
  font-size: 1.45rem;
  margin: auto;
}



/*---------------Media Queries-----------------*/
// @media screen and (min-width: 720px) {
//   .movie-list {
//     justify-content: flex-start;
//   }
// }